*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear .3s;
}

a{
    text-decoration: none;
    color: #000000;
    border-radius: 15px;
}
a:hover
{
  color: #F3BA2F;
  background-color: #000000;
  padding:10px 15px;
  border: 1px solid rgba(255,255,255,.2);
}

@font-face {
    font-family: font2;
    src: url(./assets/LilitaOne-Regular.ttf);
}

::-webkit-scrollbar
{
  width: 0px;
  height: 80%;
	background-color: transparent;
}
::-webkit-scrollbar-track
{
  background:rgb(24, 24, 24);
}
p::-webkit-scrollbar-track
{
  background:transparent;
}
::-webkit-scrollbar-thumb
{
  background-color:#2a2a2a;
  width: 3px;
	border-radius: 20px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{
  width: 3px;
}


#hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
}
.hero_section
{
    flex-direction: row;
}
.hero_right_el
{
    flex-direction: column;
}
.hero_title
{
    font-size: 64px;
    text-align: left;
}
@media screen and (max-width:900px) {
    .hero_section
    {
        flex-direction: column;
    }
    .hero_right_el{
        flex-direction: row;
    }
    .hero_title
    {
        font-size: 45px;
    }
}
@media screen and (max-width:500px) {
    .hero_title
    {
        font-size: 35px;
        text-align: center;
    }
}


.slider_anime
{
    animation:slide;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide
{
    0%{
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(calc(-100% + 100vw));
    }
}

.tool1 {
  position: fixed;
  top: 0px;
  left: 50%;
  width: 40px;
  height: 40px;
  background: url('./assets/house.png') no-repeat center/contain;
  animation: fall 25s linear infinite;
  z-index: 9999;
  pointer-events: none;
}

.tool2 {
  position: fixed;
  top: 0px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: url('./assets/tool.png') no-repeat center/contain;
  animation: fall 12s linear infinite;
  z-index: 9999;
  pointer-events: none;
  animation-delay: 2s;
}

.tool3 {
  position: fixed;
  top: 0px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: url('./assets/cat.png') no-repeat center/contain;
  animation: fall 15s linear infinite;
  z-index: 9999;
  pointer-events: none;
  animation-delay: 1s
}

@keyframes fall {
  0% { transform: translateY(0px) scale(1.8) rotate(0deg); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translateY(100vh) scale(.8) rotate(180deg); opacity: 0; }
}

.animate_30
{
  animation: move_30;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate_100
{
  animation: move_100;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move_30
{
  0%{
    left: 0%;
  }
  100%{
    left: 30%;
  }
}

@keyframes move_100
{
  0%{
    left: 30%;
  }
  100%{
    left: calc(100% - 80px);
  }
}


.animate_w_30
{
  animation: move_w_30;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate_w_100
{
  animation: move_w_100;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move_w_30
{
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}

@keyframes move_w_100
{
  0%{
    width: 30%;
  }
  100%{
    width: 100%;
  }
}